# Python para Geociencias

### Víctor Rojas
#### vr.rojaspozo@gmail.com

Esto es parte de las notas de [**Python para Geociencias**](https://github.com/koldunovn/python_for_geosciences) notes.

# 2. Estructuras y control de datos

## 2.1. Tipos de variables

Los tipos de variables posibles en Python son:

### Números:

* string     (str): Son caracteres, no tienen valor numerico.
* interger   (int): Números enteros ó naturales
* float      (float): Numeros flotantes ó reales

In [1]:
a = 3        # esto es un número entero [int].
print("a es: ", type(a))
print(a)

b = 39.747  # esto es un número de coma flotante (float)
print("\nb es: ", type(b))
print(b)

z = 4 + 6j   # esto es un número complejo 
print("\nz es: ", type(z))
print(z)

str1 = 'hola'

str2 = int("123")

print("\na+b=", a + b)
print("\nstr2 + a = ", str2 + a)
print(type(str2))

a es:  <class 'int'>
3

b es:  <class 'float'>
39.747

z es:  <class 'complex'>
(4+6j)

a+b= 42.747

str2 + a =  126
<class 'int'>

### Cadena de texto:

In [2]:
c1 = "Bienvenido año nuevo "    # esto es una cadena de caracteres.
print("c1 es: ", type(c1))
print(c1)

c2 = "2018"          # esto es una cadena de caracteres. 
print("\nc2 es: ", type(c2))
print(c2)

c3 = c1 + c2         # concatenación de dos cadenas de caracteres
print("\nc3 es: ", type(c3))
print(c3)
print("\nc3 tiene ", len(c3), "caracteres") # La función [len] devuelve el número de caracteres de una cadena.

c1 es:  <class 'str'>
Bienvenido año nuevo

c2 es:  <class 'str'>
2018

c3 es:  <class 'str'>
Bienvenido año nuevo 2018

c3 tiene  25 caracteres

### Booleanos:
El tipo booleano sólo puede tener dos valores: True (cierto) y False (falso). Estos valores son especialmente importantes para las expresiones condicionales y los bucles.

In [19]:
# Conjunción
True and True
#True and False

True

In [17]:
# Disyunción
#True or True
#True or False
False or False

False

### Ejemplos:

In [21]:
dd= not True
print("dd es: ", dd)

dd es:  False

In [22]:
not not not not not True

False

In [19]:
(4 < 5) and (5 < 6)

True

In [20]:
(4 < 5 ) and (9 < 6)

False

In [24]:
x1 = (1 == 2) or (2 == 2)
x2 = (1 == 2) and (2 == 2)

print("x1 es: ", x1)
print("x2 es: ", x2)

x1 es:  True
x2 es:  False

In [22]:
2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 2

True

## 2.2. Métodos de cadenas

En otros lenguajes de programación es necesario escribir o declarar variables antes que puedan almacenar
cualquier cosa en ellas. Esto no es necesario cuando trabajas con cadenas de caracteres en Python.

In [27]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción "+cadena1 + cadena2
print(cadena)

Interacción océano atmósfera

In [25]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción "+cadena1 + cadena2
print(cadena)
print("--"*2)

cadena1 = "océano \n"
cadena2 = "atmósfera"
cadena = "Interacción "+cadena1 + cadena2
print(cadena)

Interacción océano atmósfera
----
Interacción océano
atmósfera

In [26]:
cadena = "123"
numero = str(123)
c = cadena + numero
print(c)

123123

### Indexación de cadenas

In [28]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción "+cadena1 + cadena2
print(cadena)
print("\n")

print("índice [0]:", cadena[0])
print("índice [:] al [4]:", cadena[:4])
print("------------------------------------------------")

print("índice [-1]:", cadena[-1])
print("índice [-1] al [-4]:", cadena[-4:])

Interacción océano atmósfera


índice [0]: I
índice [:] al [4]: Inte
------------------------------------------------
índice [-1]: a
índice [-1] al [-4]: fera

### Multiplicar cadena

In [47]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción "*3 + cadena1 + cadena2
print(cadena)

print("\n")
cadena = "Interacción "*6 + cadena1 + cadena2
print(cadena)

Interacción Interacción Interacción océano atmósfera


Interacción Interacción Interacción Interacción Interacción Interacción océano atmósfera

### Añadir caracteres a una cadena

In [29]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2
print(cadena)

print("\n")
cadena += " continente"
print(cadena)

Interacción océano atmósfera


Interacción océano atmósfera continente

### Determinar el número de caracteres de una cadena

La función [len] devuelve el número de caracteres de una cadena. Esto es considerando
la cantidad de caracteres y espacios en blanco.

In [52]:
cadena1 = "océano "
print(len(cadena1))

cadena2 = "atmósfera"
print(len(cadena2))

cadena = "Interacción " + cadena1 + cadena2
print(len(cadena))

7
9
28

### Buscar sub-cadenas

Es posible recorrer todas las sub cadenas de una cadena, utilizando el método
[find], quién devuelve el índice de inicio de la sub-cadena.

In [54]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2
print(cadena)

buscarSC = cadena.find("atmósfera")
print(buscarSC)

Interacción océano atmósfera
19

Si la sub-cadena no se encuentra dentro de la cadena, el método [find] devolverá el valor -1

In [30]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2
print(cadena)

buscarSC = cadena.find("acción océ")
print(buscarSC)

Interacción océano atmósfera
5

### Convertir: minúsculas y mayusculas

In [31]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2

print(cadena)
print(cadena.upper())
print(cadena.lower())

Interacción océano atmósfera
INTERACCIÓN OCÉANO ATMÓSFERA
interacción océano atmósfera

### Reemplazar caracteres

In [60]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2
print(cadena)

newCad = cadena.replace("o", "land")
print(newCad)

Interacción océano atmósfera
Interacción landcéanland atmósfera

## 2.4. Tuplas

Al igual que las cadenas de caracteres, las tuplas son una secuencia de elementos ordenados.
La diferencia de una tupla radica en que sus elementos no son necesariamente caracteres. Los elementos
individuales pueden ser de cualquier tipo (str, int, float). Además, las tuplas son objetos inmutables.

In [35]:
t1 = (1)
print("t1 \t= ",t1)

t2 = (1, 'a', 34.55, 3 + 4j, 'Hello world!', t1)
print("t2 \t= ", t2)
print(type(t1))
print(type(t2), "\n")

t3= ("two","rain")
t = t2 + t3

print("t \t= ", t)
print("t[3] \t= ", t[3])
print("t[2:5] \t = ",t[2:5])

print("---"*20)
print("len(t)", len(t))

t1 	=  1
t2 	=  (1, 'a', 34.55, (3+4j), 'Hello world!', 1)
<class 'int'>
<class 'tuple'>

t 	=  (1, 'a', 34.55, (3+4j), 'Hello world!', 1, 'two', 'rain')
t[3] 	=  (3+4j)
t[2:5] 	 =  (34.55, (3+4j), 'Hello world!')
------------------------------------------------------------
len(t) 8

## 2.3 Listas

Al igual que una tupla, una lista es una secuencia de valores ordenados, donde cada valor es identificado por un
índice. La sintaxis para expresar una lista es literalmente igual al de una tupla; la diferencia está en el uso 
de brackets ([]) en lugar de paréntesis y su mutabilidad.

In [41]:
l1 = ["wind"]
print("l1 \t= ",l1)

l2 = [1, 'a', 34.55, 3 + 4j, 'Hello world!', l1]
print("l2 \t= ", l2)
l2[-1]="hola"

l3= ["two","rain"]
l = l2 + l3
print("l \t= ", l)

print("l[3] \t= ", l[3])
print("l[3:5] \t = ",l[3:5])

print("---"*20)
print("len(l)", len(l))

l1 	=  ['wind']
l2 	=  [1, 'a', 34.55, (3+4j), 'Hello world!', ['wind']]
l 	=  [1, 'a', 34.55, (3+4j), 'Hello world!', 'hola', 'two', 'rain']
l[3] 	=  (3+4j)
l[3:5] 	 =  [(3+4j), 'Hello world!']
------------------------------------------------------------
len(l) 8

### Mutabilidad de una lista

### Algunos métodos de las listas
* lista[i]: Devuelve el elemento que está en la posición i de la lista.
* lista.pop(i): Devuelve el elemento en la posición i de una lista y luego lo borra.
* lista.append(elemento): Añade elemento al final de la lista.
* lista.insert(i, elemento): Inserta elemento en la posición i.
* lista.extend(lista2): Fusiona lista con lista2.
* lista.remove(elemento): Elimina la primera vez que aparece elemento.
* lista.count(e): Devuelve el número de veces que se repite (e) dentro de lista
* lista.sort(): Ordena los elementos de la lista en orden ascendente
* lista.reverse(): Invierte el orden de los elementos de la lista

In [89]:
l1 = ["wind"]
print("l1 \t= ",l1)

l2 = [1, 'a', 34.55, 3 + 4j, 'Hello world!', l1]
print("l2 \t= ", l2)

print("\nEjemplos de mutabilidad\n")
l2[0]=100
l2[-1].append("sst")
print("l2 \t= ", l2)

l1 	=  ['wind']
l2 	=  [1, 'a', 34.55, (3+4j), 'Hello world!', ['wind']]

Ejemplos de mutabilidad

l2 	=  [100, 'a', 34.55, (3+4j), 'Hello world!', ['wind', 'sst']]

### Convertir una cadena de caracteres en una lista

In [111]:
cadena1 = "océano "
cadena2 = "atmósfera"

cadena = "Interacción " + cadena1 + cadena2
print(cadena)

lista1 = cadena.split(" ")
print(lista1)

lista2 = cadena.split("o")
print(lista2)

Interacción océano atmósfera
['Interacción', 'océano', 'atmósfera']
['Interacción ', 'céan', ' atmósfera']
Interacción
océano
atmósfera

In [112]:
elem1, elem2, elem3 = lista1
print(elem1)
print(elem2)
print(elem3)

Interacción
océano
atmósfera

### Convertir una lista en una cadena de caracteres

In [109]:
print(lista1)
s=" -> "
newCadena = s.join(lista1)
print(newCadena)

['Interacción', 'océano', 'atmósfera']
Interacción -> océano -> atmósfera

## 2.5. Diccionarios

De la misma forma como sucede con un diccionario  convencional, un diccionario en
Python es un objeto que tiene asociado algo.

Se crean poniendo sus elementos entre llaves:

#### dic = {"key":"value", ...}

#### Donde:

#### "key"  : son numeros enteros o cadenas de caracteres.
#### "value": numeros enteros, cadenas de caracteres, tuplas, listas, arrays.

In [117]:
lima = {"region":"costa","superficie":"2672km2","altura": 154, "lat": -12, "lon":-77}
print(lima)
print(type(lima))
#print("\n\n")

{'region': 'costa', 'superficie': '2672km2', 'altura': 154, 'lat': -12, 'lon': -77}
<class 'dict'>

### Agregar elementos en diccionarios

In [115]:
print(lima)

{'region': 'costa', 'superficie': '2672km2', 'altura': 154, 'lat': -12, 'lon': -77}

In [118]:
lima["idioma"]= "español"
lima["fundacion"]="18 de enero de 1535"
lima["poblacion"]= [8574974,"3878928 mujeres", "3726814 hombres"]

print(lima)

{'region': 'costa', 'superficie': '2672km2', 'altura': 154, 'lat': -12, 'lon': -77, 'idioma': 'español', 'fundacion': '18 de enero de 1535', 'poblacion': [8574974, '3878928 mujeres', '3726814 hombres']}

### Estructura de un diccionario

In [135]:
keys  = lima.keys()
values= lima.values()
items = list(lima.items())
print(keys)
print("\n")
print(values)
print("\n")
print(items)
print(type(items))
print(items[0])

dict_keys(['region', 'superficie', 'altura', 'lat', 'lon', 'fundacion', 'poblacion'])


dict_values(['costa', '2672km2', 154, -12, -77, '18 de enero de 1535', [8574974, '3878928 mujeres', '3726814 hombres']])


[('region', 'costa'), ('superficie', '2672km2'), ('altura', 154), ('lat', -12), ('lon', -77), ('fundacion', '18 de enero de 1535'), ('poblacion', [8574974, '3878928 mujeres', '3726814 hombres'])]
<class 'list'>
('region', 'costa')

### Operaciones con diccionarios

* #### diccionario.get(‘key’): Devuelve el valor que corresponde con la key introducida.
* #### diccionario.pop(‘key’): Devuelve el valor que corresponde con la key introducida, y luego borra la key y el valor.
* #### diccionario.update({‘key’:’valor’}): Inserta una determinada key o actualiza su valor si ya existiera.
* #### “key” in diccionario: Devuelve verdadero (True) o falso (False) si la key (no los valores) existe en el diccionario.
* #### “definicion” in diccionario.values(): Devuelve verdadero (True) o falso (False) si definición existe en el diccionario (no como key).

In [125]:
dic=lima
print(dic)
idioma = dic.get("idioma")
print("\nidioma de lima -> ",idioma)

{'region': 'costa', 'superficie': '2672km2', 'altura': 154, 'lat': -12, 'lon': -77, 'idioma': 'español', 'fundacion': '18 de enero de 1535', 'poblacion': [8574974, '3878928 mujeres', '3726814 hombres']}

idioma de lima ->  español

In [126]:
dic=lima
print(dic)
idioma = dic.pop("idioma")
print("\nidioma de lima -> ",idioma)
print(dic)

{'region': 'costa', 'superficie': '2672km2', 'altura': 154, 'lat': -12, 'lon': -77, 'idioma': 'español', 'fundacion': '18 de enero de 1535', 'poblacion': [8574974, '3878928 mujeres', '3726814 hombres']}

idioma de lima ->  español
{'region': 'costa', 'superficie': '2672km2', 'altura': 154, 'lat': -12, 'lon': -77, 'fundacion': '18 de enero de 1535', 'poblacion': [8574974, '3878928 mujeres', '3726814 hombres']}